<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<title>系统界面</title>
	<script src="/javascripts/jquery-3.1.1.min.js"></script>
</head>
<body>
	欢迎 <%= username %>
</body>
</html>